{% extends 'photo/base.html' %}
{% load static %}


{% block content %}

 <!-- The grid: four columns -->
  <h1> Select an image </h1>
  <div class="row"  id="scroll-images">
    {% for img in object_list %}
      <img class="im-slide-show m-1" src="{{ img.thumbnail.url }}" alt="{{ img.id }}" onclick="myFunction(this);"></li>
    {% endfor %}
  </div>


    <!-- Range slider image -->
  <h1> Parameters </h1>
  <div class="row maxwidth">
    <div class="col-11">
      <div class="d-flex justify-content-around">
          {% csrf_token %} 
          <label for="f"> f </label>
          <label for="k1"> k1 </label>
          <label for="k2"> k2 </label>
      </div>
      <div class="d-flex justify-content-around">
          {% csrf_token %} 
          <p class="valueSpan"></p>
          <input type="range" class="custom-range px-3" min="0" max="1500" step="10" id="f">

          <p class="valueSpan"></p>
          <input type="range" class="custom-range px-3" min="-1" max="1" step="0.1" id="k1">

          <p class="valueSpan"></p>
          <input type="range" class="custom-range px-3" min="-1" max="1" step="0.1" id="k2">
      </div>
    </div>
    <div class="col-1">
      <div class="align-bottom">
        <button type="button" class="btn btn-primary my-1" id="sendDistort"> Distort </button>
      </div>
    </div>
  </div>


  <h1> Result </h1>
  <!-- Expanded image -->
  <div class="row my-1">
    <div class="col-6">
      <img class="expandedImg" style="width:100%" id="selectedImg">
    </div>
    <div class="col-6">
      <img class="expandedImg" style="width:100%" id="distortedImg">
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/scripts.js' %}"> </script>
{% endblock %}