{% extends 'photo/base.html' %}
{% load static %}

{% block content %}
<div class="content-text">
  <h1> Welcome </h1>
  <p> Here are some applications of Computer Vision for image processing.</p>
  <p> Most of them are the results of my work following the tutorials from
  the <a href="https://www.cs.cornell.edu/courses/cs5670/2020sp/"> Cornell University course CS5670. </a>
  It is still a work in progress during my free time.</p>

  <p> These tutorials were also a pretext to learn full stack development and make
  this whole website functional and deploy it to Heroku.
  </p>

  <p> The sections on Deep Learning applications are also a work in progress. </p>

</div>
{% endblock %}
