{% extends 'photo/base.html' %}
{% load static %}


{% block content %}

 <!-- The grid: four columns -->
  <h1> Select two images </h1>
  <div class="row"  id="scroll-images">
    {% for img in object_list %}
      <img class="im-slide-show" src="{{ img.img_file.url }}" alt="{{ img.id }}" onclick="matchSelection(this);"></li>
    {% endfor %}
  </div>


    <!-- Range slider image -->
  <div>
    <button type="button" class="btn btn-primary my-1" id="sendMatcher"> Match </button>
  </div>


  <h1> Result </h1>
  <!-- Expanded image -->
  <div class="row my-1">
    {% csrf_token %} 
    <img class="expandedImg" id="matcherImg">
  </div>

</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/scripts.js' %}"> </script>
{% endblock %}